<h1 align="center"><%= "Category: " + @category.name %></h1>

<% if @category.articles.any? %>
  <div align="center">
    <%= render 'editcategory' %>
    <%= will_paginate @category_articles %>
  </div>
  <%= render 'articles/article', obj: @category_articles %>
  <div align="center">
    <%= will_paginate @category_articles %>
  </div>
<% else %>
  <div align="center">
    <%= render 'editcategory' %>
    <h4>There are no articles with the category "<%= @category.name %>" yet</h4>
  </div>
<% end %>
